.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}
.chat-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.chat-item {
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #555;
    margin-right: 10px;
}
.profile-name {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

/* Style for sent messages */
.sent-message {

    text-align: right;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 300px;
}

/* Style for received messages */
.received-message {
    text-align: left;
    background-color: #45a049;
    color: White;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 300px;
}

.sent-message-container
{
    display: flex; /* Use flexbox */
    justify-content: flex-end;
}

.received-message-container
{
    display: flex; /* Use flexbox */
    justify-content: flex-start;
}

.chat-container {
    max-height: 400px; /* Set the maximum height of the chat container */
    overflow-y: auto; /* Enable vertical scrolling */
}

