body {
    font-family: Arial, "Acumin Variable Concept Wide";
    background-image: url('/graphics/connectigon_background.png');
    color: #6400ff;
    margin: 0;
    padding: 0;
    background-size: cover;
}